@model GreenDemic.Models.ShoppingBag

@{
    ViewData["Title"] = "Delete";
}

<h1 style="padding-top: 100px; text-align: center;">Delete Shopping Bag</h1>
<p style="text-align: center; padding-bottom: 50px;">Are you sure to delete this record?</p>

<div>
    <form asp-action="Delete" style="margin:0px 50px;">
        @if ((bool)ViewData["IsFailed"])
        {
            <div class="alert alert-danger">
                <strong>Uh Oh!</strong> Something went wrong. Please try again later
            </div>
        }
        <fieldset class="FormContent">
            <!--Shopping Bag ID-->
            <div hidden class="form-group row">
                <label asp-for="ShoppingBagID"
                       class="col-form-label col-6 font-weight-bold" style="text-align:end;"></label>
                <div class="col-6">
                    <input asp-for="ShoppingBagID" readonly
                           class="form-control-plaintext" />
                </div>
            </div>

            <!--Competition Name-->
            <div class="form-group row">
                <label asp-for="BagName"
                       class="col-form-label col-6 font-weight-bold" style="text-align:end;"></label>
                <div class="col-6">
                    <input asp-for="BagName" readonly
                           class="form-control-plaintext" style=" color: #FFBF86;" />
                </div>
            </div>

            <!--Area of Interest ID-->
            <div class="form-group row">
                <label asp-for="CreatedAt"
                       class="col-form-label col-6 font-weight-bold" style="text-align:end;"></label>
                <div class="col-6">
                    <input asp-for="CreatedAt" readonly
                           class="form-control-plaintext" style=" color: #FFBF86;" />
                </div>
            </div>

            <!--Start Date-->
            <div class="form-group row">
                <label asp-for="BagDescription"
                       class="col-form-label col-6 font-weight-bold" style="text-align:end;"></label>
                <div class="col-6">
                    <input asp-for="BagDescription" readonly
                           class="form-control-plaintext" style=" color: #FFBF86;" />
                </div>
            </div>

            <!--Delete Btn-->
            <div class="col-12" style="text-align:center;">
                <input type="submit" value="Delete" class="btn" />
            </div>
        </fieldset>
    </form>
    <div class="col-12" style="text-align:center;"><a asp-action="Index">Back to List</a></div>
</div>
