@model GreenDemic.Models.ShoppingBag

@{
    ViewData["Title"] = "Edit";
}

<h1 style="padding-top: 100px; padding-bottom: 50px; margin-left: auto; margin-right: auto; text-align: center;">Edit Shopping Bag</h1>

<div class="row" style="margin-right:0;">
    <div class="col-md-4" style="margin-left: auto; margin-right: auto; position: center">
        <form asp-action="Edit">
            @if ((bool)ViewData["IsFailed"])
            {
                <div class="alert alert-danger">
                    <strong>Uh Oh!</strong> Something went wrong. Please try again later
                </div>
            }
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div hidden class="form-group">
                <label asp-for="ShoppingBagID" class="control-label"></label>
                <input readonly asp-for="ShoppingBagID" class="form-control" />
                <span asp-validation-for="ShoppingBagID" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <label asp-for="AccID" class="control-label"></label>
                <input readonly asp-for="AccID" class="form-control" />
                <span asp-validation-for="AccID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div><label asp-for="BagName" class="control-label"></label><span style="color: yellow;">*</span></div>
                <input asp-for="BagName" class="form-control" />
                <span asp-validation-for="BagName" style="color: yellow;"></span>
            </div>
            <div class="form-group">
                <div><label asp-for="CreatedAt" class="control-label"></label><span style="color: yellow;">*</span></div>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" style="color: yellow;"></span>
            </div>
            <div class="form-group">
                <label asp-for="BagDescription" class="control-label"></label>
                <input asp-for="BagDescription" class="form-control" />
                <span asp-validation-for="BagDescription" style="color: yellow;"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn" />
            </div>
        </form>
    </div>
</div>

<div style="margin-left: auto; margin-right: auto; text-align: center;">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
