@{
    string redirectHref = "";

    if (Context.Session.GetString("Role") != null)
    {
        if (Context.Session.GetString("Role") == "User")
        {
            redirectHref = "/Home/LandingMain";
        }
        if (Context.Session.GetString("Role") == "Admin")
        {
            redirectHref = "/Home/AdminMain";
        }
    }

    else
    {
        redirectHref = "/Home/Index";
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="shortcut icon" href="~/images/logo.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
          integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Navigation -->
    <header class="sticky-top" id="header">
        <nav class="navbar navbar-expand-md navbar-light">

            <!-- Logo -->
            <div class="mr-auto">
                <a href=@redirectHref>
                    <img id="logoPic" src="~/images/logo.png" class="img-fluid" width="40" height="40" />
                </a>
            </div>

            <!-- Links -->
            <div class="ml-auto">
                @{ if (Context.Session.GetString("Role") != null)
                    {
                        if (Context.Session.GetString("Role") == "User")
                        {
                        @await Html.PartialAsync("_UserMenu.cshtml");
                        }
                        if (Context.Session.GetString("Role") == "Admin")
                        {
                        @await Html.PartialAsync("_AdminMenu.cshtml");
                        }
                    }
                    if(Context.Session.GetString("Role") == null)
                    {
                        @await Html.PartialAsync("_MainMenu.cshtml");
                        }
                }
            </div>
        </nav>
    </header>

    <!--Render Body-->
    <div class="container-fluid" style="padding:0px;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--Footer-->
    <footer class="d-flex align-items-center justify-content-center" style="background-color: #6C826B; border-top-right-radius: 20px; border-top-left-radius: 20px; color: white;">
        <div class="container">
            <div class="row my-5 px-0">

                <!-- Developer's Names & Links -->
                <div class="col-6">
                    GreenDemic <br>
                    Singapore <br><br>
                    Today's food waste, tomorrow's shortage<br>
                    Follow us <br><br>

                    <a href="https://www.instagram.com/greendemic21/" target="_blank"><img src="~/images/instagram.svg" alt="Instagram logo" width="32" height="32" title="instagram"></a>
                </div>

                <!-- GitHub & API Links -->
                <div class="col-3">
                    <b>Links</b>  <br> <br>

                    <a target="_blank" href="https://linktr.ee/GreenDemic" class="remove-link-deco" style="color:white;">Articles</a> <br>
                    <a href="~/Home/AboutUs" class="remove-link-deco" style="color:white;">About Us</a> <br>
                    <a href="~/Home/Privacy" class="remove-link-deco" style="color:white;">Privacy</a> <br>
                </div>

                <!-- Contact/Feedback Link -->
                <div class="col-3" id="contact">
                    <b>Contact</b> <br><br>



                    <address style="margin: 0px;">
                        <a href="mailto:contact.greendemic@gmail.com" class="remove-link-deco" style="color:white;">Email</a>
                    </address>
                </div>
            </div>

            <!-- Application's Name -->
            <div class="row my-5">
                <div class="col-12 text-center" style="font-size: 1rem;">&copy; GreenDemic</div>
            </div>
        </div>
    </footer>


    <!--Scripts-->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.js" integrity="sha512-cUN0myk0UGEvxqLxibWVur2Ax3f2cznXn78AMoe6Hj2lIXD5+dvoKGwLeNzlLE2Jk2+VfyX/tEfvIZmieMSt1w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://unpkg.com/@@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
