@{
    string name = "Unknown";

    if (Context.Session.GetString("AccName") != null)
    {
        name = Context.Session.GetString("AccName");
    }
}
<!-- Toggle/Collapsible Button-->
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar">
    <span class="navbar-toggler-icon"></span>
</button>

<!-- Links in the navbar, displayed as drop-down list when collapsed -->
<div class="collapse navbar-collapse" id="mainNavbar">
    <ul class="navbar-nav">

        <!-- Member -->
        <li class="nav-item ">
            <a href="~/Person/Index" class="dropdown-item">
                Family Members
            </a>
        </li>

        <!-- Food/Bag -->
        <li class="nav-item ">
            <a href="~/ShoppingBag/Index" class="dropdown-item">
                Food
            </a>
        </li>

        <!-- Settings -->
        <li class="nav-item ">
            <a href="~/Home/Settings" class="dropdown-item">
                Settings
            </a>
        </li>

        <!-- Logout -->
        <li class="nav-item " id="logout">
            <a href="~/Home/LogOut" class="dropdown-item">
                Log Out
            </a>
        </li>

        <li class="nav-item ">
            <a class="dropdown-item" style="color: white; background: #6C826B;">@name</a>
        </li>

    </ul>
</div>

<script>
    var logout = document.getElementById("logout");
    logout.onclick = function () {
        localStorage.clear();
    }
</script>
