<!-- Toggle/Collapsible Button-->
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar">
    <span class="navbar-toggler-icon"></span>
</button>

<!-- Links in the navbar, displayed as drop-down list when collapsed -->
<div class="collapse navbar-collapse" id="mainNavbar">
    <ul class="navbar-nav">

        <!-- Sign Up -->
        <li class="nav-item ">
            <a href="~/ShoppingBag/Index" class="dropdown-item">
                Your Bag
            </a>
        </li>

        <!-- Login -->
        <li class="nav-item ">
            <a href="~/Home/LogOut" class="dropdown-item">
                LogOut
            </a>
        </li>

    </ul>
</div>