@model GreenDemic.Models.Person
@{ 
    int amr = 0;
    if(Context.Session.GetInt32("AMR") != null)
    {
        amr = Context.Session.GetInt32("AMR").Value;
    }
}
<h4 style="margin-left: auto; margin-right: auto; text-align: center;">Add Person</h4>
<hr />
<div class="row" >
    <div class="col-md-4" style="margin-left: auto; margin-right: auto; position: center">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label" style=" color: azure"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxCal" class="control-label" style=" color: azure"></label>
                <input asp-for="MaxCal" class="form-control" value="@amr"/>
                <span asp-validation-for="MaxCal" class="text-danger"></span>
                <p style="color: #fff;"><a style="text-decoration:underline;" href="~/Person/CalculateCalories">Click here</a> to calculate your max calories</p>
            </div>
            <div class="form-group" hidden>
                <label asp-for="AccID" class="control-label" style=" color: azure"></label>
                <input readonly asp-for="AccID" class="form-control" value="@Context.Session.GetInt32("AccID")" />
                <span asp-validation-for="AccID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" style="color: #FF8C00;" />
            </div>
        </form>
    </div>
</div>

<div style="margin-left: auto; margin-right: auto; text-align: center;">
    <a asp-action="Index">Back to View Family Members</a>
</div>

