@model GreenDemic.Models.Person

@{
    ViewData["Title"] = "Delete";
}

<h1 style="padding-top: 100px; text-align: center;">Delete Member</h1>
<p style="text-align: center; padding-bottom: 50px;">Are you sure to delete this record?</p>

<div>
    <form asp-action="Delete" style="margin:0px 50px;">
        @if ((bool)ViewData["IsFailed"])
        {
            <div class="alert alert-danger">
                <strong>Uh Oh!</strong> Something went wrong. Please try again later
            </div>
        }
        <fieldset class="FormContent">
            <!--User ID-->
            <div class="form-group row" hidden>
                <label asp-for="UserID"
                       class="col-form-label col-6 font-weight-bold" style="text-align:end;"></label>
                <div class="col-6">
                    <input asp-for="UserID" readonly
                           class="form-control-plaintext" />
                </div>
            </div>

            <!--User Name-->
            <div class="form-group row">
                <label asp-for="UserName"
                       class="col-form-label col-6 font-weight-bold" style="text-align: end; color: azure;"></label>
                <div class="col-6">
                    <input asp-for="UserName" readonly
                           class="form-control-plaintext" style=" color: #FFBF86;" />
                </div>
            </div>

            <!--Max Calories-->
            <div class="form-group row">
                <label asp-for="MaxCal"
                       class="col-form-label col-6 font-weight-bold" style="text-align: end; color: azure;"></label>
                <div class="col-6">
                    <input asp-for="MaxCal" readonly
                           class="form-control-plaintext" style=" color: #FFBF86;" />
                </div>
            </div>

            <!--Delete Btn-->
            <div class="col-12" style="text-align:center;">
                <input type="submit" value="Delete" class="btn" style="color: #FF8C00;" />
            </div>
        </fieldset>
    </form>
    <div class="col-12" style="margin-left: auto; margin-right: auto; text-align: center;"><a asp-action="Index">Back to list</a></div>
</div>
