@{
    ViewData["Title"] = "About Us";
}

<h1 style="padding-top:100px; padding-bottom:50px; text-align:center;">About Us</h1>

<p style="padding-left:80px; padding-right:80px; padding-bottom:50px;">
    We are a team of Ngee Ann Polytechnic students, 
    aspiring to promote just about anyone 
    to go green and kickstart their food sustainable journey.
    The arrival of the pandemic give rise to new problems 
    that have adverse effects on the planet in the long run.
    Among the many issues, increase in food wastage due to the lack of skills in food preparation and cooking, is one of them.
    With GreenDemic, know the total calories you need and the total calories from the food you have, to help you in your next food purchase.
</p>
