@{
    ViewData["Title"] = "Home";
}

<div class="container-fluid d-flex align-items-center"  style="height:100vh;">
    <div class="row">
        <div class="col-6">
            <h1>GreenDemic</h1>
            <p>
                Today's waste, tomorrow's shortage. GreenDemic helps you to keep track of your household food intake so you don't have to worry about overbuyying food you don't need.
            </p>
            <div class="form-group">
                <input type="submit" value="Learn More" class="btn btn-primary" style="background-color: #6C826B; padding:20px; border-radius:20px;" />
            </div>
        </div>
        <div class="col-6" style="text-align:end;">
            <img src="https://cdn.dribbble.com/users/973442/screenshots/5370348/grocery_shopping_eezy_rmpl-01_1x.jpg"/>
        </div>
    </div>
</div>
