@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 style="padding-top:100px; padding-bottom:50px; text-align:center;">@ViewData["Title"]</h1>

<p style="padding-left:80px; padding-right:80px; padding-bottom:30px;">
    If you create an account, we will collect your
    the relevant data that you have registered with the account for
    authentication purpose, no other information will be collected from you, otherwise stated.
</p>
<p style="padding-left:80px; padding-right:80px; padding-bottom:30px;">
    We keep to our promise that we will not disclose your personal
    information to a third party unless it is by the law of the country to do
    for investigation purposes.
</p>
<p style="padding-left:80px; padding-right:80px; padding-bottom:50px;">
    if you need any clarification or assistance, please email to <a href="mailto:contact.greendemic@gmail.com">System Adminstrator</a>.
</p>