@model GreenDemic.Models.Account

@{
    ViewData["Title"] = "Sign Up";
}

<h1 style="padding-top: 50px; text-align: center; ">Sign Up</h1>

<form method="post" asp-controller="Home" asp-action="SignUp" style="width: 60%; padding-top: 30px; margin-left: auto; margin-right: auto;">
    @if ((bool)ViewData["IsFailed"])
    {
        <div class="alert alert-danger">
            <strong>Uh Oh!</strong> Something went wrong. Please try again later
        </div>
    }
    <fieldset class="loginFieldset">
        <!--Email-->
        <div class="form-group row d-flex align-items-center justify-content-center">
            <div class="col-sm-9">
                <div>
                    <label asp-for="UserName" class="col-form-label"></label>
                    <span style="color: yellow;">*</span>
                </div>
                <input class="form-control" required asp-for="UserName" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
        </div>

        <!--Paswword-->
        <div class="form-group row d-flex align-items-center justify-content-center">
            <div class="col-sm-9">
                <div>
                    <label asp-for="Pass_word" class="col-form-label"></label>
                    <span style="color: yellow;">*</span>
                </div>
                <input class="form-control" required asp-for="Pass_word" type="password" />
                <span asp-validation-for="Pass_word" class="text-danger"></span>
            </div>
        </div>

        <!--Account Name-->
        <div class="form-group row d-flex align-items-center justify-content-center">
            <div class="col-sm-9">
                <div>
                    <label asp-for="AccName" class="col-form-label"></label>
                    <span style="color: yellow;">*</span>
                </div>
                <input class="form-control" required asp-for="AccName" />
                <span asp-validation-for="AccName" class="text-danger"></span>
            </div>
        </div>

        <!--Button submit-->
        <div class="form-group row d-flex align-items-center justify-content-center" style="padding:0;">
            <div class="col-sm-9">
                <input type="submit" value="Sign Up"
                       class="btn" />
            </div>
        </div>

    </fieldset>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
